extends ../layout

block content
	form(id="cad", method="POST", action="/users/#{user._id}/editar")
		input(type="text", placeholder="email", name="email")
		input(type="text", placeholder="password", name="password")

		button(type="submit" ) Cadastrar